<div>
  <button type="button" data-agegroup-filter-target="button" data-action="agegroup-filter#toggle" class="btn btn-agegroup btn-sm btn-outline-secondary d-flex align-items-center gap-2 rounded p-1">
    <i class="bi bi-chevron-right toggle-icon" data-agegroup-filter-target="icon"></i>
    Age Groups
  </button>
</div>
 