<div class="d-flex mb-1">
  <%= render 'shared/filter/select_men_button' %>
  <%= render 'shared/filter/select_women_button' %>
  <%= render 'shared/filter/clear_button', route: clear_route %>
</div>
 