<div>
  <i class="bi bi-calendar3"></i>
  <%= select_tag "filters[runs][date]",
                 options_for_select(date_format(@dates), filter_date),
                 class: "form-control-sm sort me-2",
                 onchange: "this.form.requestSubmit()" %>
</div>
 