<div>
  <i class="bi bi-calendar3"></i>
  <select class="form-control-sm sort me-2" name="date" onchange="this.form.requestSubmit()">
    <%= options_for_select date_format(@dates), filter_date %>
  </select>
</div>
 