<div class="runs-table-wrap">
  <%= render partial: 'friends/screensize/desktop', locals: { runs: runs } %>
  <%= render partial: 'friends/screensize/mobile', locals: { runs: runs } %>
  <%= render 'empty_table' if runs.empty? %>
</div>
