<nav class="pill-nav">
  <%= link_to "Runs",   runs_path,   class: "pill-link #{active_tab(:runs)}"   %>
  <%= link_to "Venues", venue_stats_path, class: "pill-link #{active_tab(:venue_stats)}" %>
  <%= link_to "Trends", trends_path, class: "pill-link #{active_tab(:trends)}" %>
</nav>  