<div class="runs-table-wrap">
  <%#= render partial: 'venue_stats/screensize/allscreens' %>
  <%= render partial: 'venue_stats/screensize/desktop' %>
  <%= render partial: 'venue_stats/screensize/mobile' %>
  <%= render 'empty_table' if @venue_stats.blank? %>
</div>