<div class="mb-5 canvas gray100-canvas embossed ps-2 py-2">
  <div class="d-flex d-xl-none canvas gray100-canvas embossed col col-lg-6 col-xl-4 p-1 mb-2">
    <%= render 'sort_selection' %>
  </div>
  <%= render 'table_content' %>
</div>