form .btn {
  --bs-btn-line-height: 1.0;
  --bs-btn-bg: #{$gray-50};
  --bs-btn-border-color: #{$gray-700};
  --bs-btn-hover-bg: #{$gray-700};
  --bs-btn-hover-border-color:#{$gray-700};
  --bs-btn-color: #{$gray-700};  
}

