form button.btn-agegroup {
  --bs-btn-line-height: 1.0;
  --bs-btn-bg: #{$gray-50};
  --bs-btn-border-color: #{$gray-700};
  --bs-btn-hover-bg: #{$gray-700};
  --bs-btn-hover-border-color:#{$gray-700};
  --bs-btn-color: #{$gray-700};  
}

form button.btn-sort-direction {
  width: 2.0rem;
  padding: 0;

  .arrow-hover {
    display: none;
  }

  &:hover .arrow-default {
    display: none;
  }

  &:hover .arrow-hover {
    display: inline;
  }
}

.btn {
  font-size: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.3rem $gray-800;
  text-transform: capitalize;
  &:hover {
    opacity: 0.8;
    box-shadow: none;    
  }
}




