@each $color, $value in $colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

.btn {
  font-size: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.3rem $gray-800;
  text-transform: capitalize;
  &:hover {
    opacity: 0.8;
    box-shadow: none;    
  }
  &.btn-black {
    @include media-breakpoint-up(md) {
      font-size: 1rem;
     }  
  }
  &.btn-low-impact {
      font-size: 0.6rem;
      box-shadow: none;
     }  
  &.btn-disabled {
      opacity: 0.2;
      box-shadow: none;
     }  
}

.btn-outline-black:hover {
  transform: scale(1.1);
  color: $black;
}

.btn img {
  width: auto;
  height: 2rem;
}

.btn-white:hover {
  background-color: $gray-100;
}

.btn-black:hover {
  background-color: $gray-800;
}

