.toggle-icon {
  transition: transform 0.2s ease;
}

.rotate-90 {
  transform: rotate(90deg);
}

// Next-sibling combinator
// Selects a div.column-group place immediately after another div.column group
div.column-group + div.column-group {
  margin-top: 1rem;
}

.rotating {
  animation: flash 2s ease-in infinite;
}

@keyframes rotate {
  50% {
    transform: rotate(90deg);
  }
}

.flashing {
  animation: flash 2s ease-in infinite;
}

@keyframes flash {
  50% {
    transform: scale(1.05);
  }
}