.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  // font-size: 1.2rem;
  // color: $black;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, $gray-900 0%, $gray-500 100%);
  padding: 0.7rem 0.7rem;
  border-radius: 0.5rem;
  @include media-breakpoint-up(md) {
    padding: 1rem 1.5rem;
    letter-spacing: 0.15rem;    
    }    
}

@media (min-width: 900px) {
  .navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;    
  }
}

.navbar-sticky {
  transform: translateY(0);
  transition: all .4s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  opacity: 1;
  z-index: 1040
}

.navbar-headroom {
  margin-top: 7rem;
}

nav.disappear {
  transform: translateY(-100%);
}

.brand-background {
  position: absolute;
  // inset: 0; /* fully inside */
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
  gap: 0.8rem; /* space images out so first/last peek beyond text */
  padding: 0 0.4rem; /* adjust to let first/last overlap text */
  img {
    height: 1.5em;
    @include media-breakpoint-up(md) {
    height: 1.8em;
      }  
  }
}

.brand-text {
  position: relative;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
    }  
}  




