<div class="mb-5 px-md-2 canvas gray100-canvas embossed pt-2">
  <div class="mb-3 canvas gray100-canvas embossed">
    <%= line_chart charts_count_by_time_path(date: @date, venue: @venue, filters: @filters), xtitle: "Time (#{@grouping_size} secs grouping)", title: "Runners by Time" %>
  </div>
  <div class="mb-3 canvas gray100-canvas embossed">
    <%= column_chart charts_count_by_agegroup_path(date: @date, venue: @venue, filters: @filters), xtitle: "Age Group", title: "Runners by Age Group" %>
  </div>
</div>

