<%= turbo_frame_tag 'runs_table' do %>
  <div class="mb-3 canvas gray100-canvas embossed ps-2 py-2">
    <div class="canvas gray100-canvas embossed col col-lg-6 col-xl-4 p-1 mb-2">
      <% if @show_pagy %>
        <%== @pagy.series_nav(:bootstrap) %>
        <%= render 'time_search' %>
      <% end %>
      <%#= render partial: 'sort_selection' %>
    </div>
    <%= render partial: 'runs_table' %>
  </div>
<% end %>
