<% stats = @summary_stats %>

<% @stats = [{name: 'Count', number: number_with_delimiter(stats.count), icon: 'bi-list-ol' },
             {name: 'Fastest', number: min_sec_format(stats.fastest), icon: 'bi-lightning-charge' },
             {name: 'Median', number: min_sec_format(stats.median), icon: 'bi-bullseye' },
            #  {name: 'Mean', number: min_sec_format(stats.mean), icon: 'bi-calculator' },
             {name: 'Slowest', number: min_sec_format(stats.slowest), icon: 'bi-hourglass-split' },             
            #  {name: 'SD', number: min_sec_format(stats.stddev), icon: 'bi-plus-slash-minus' },
             {name: 'Average Age', number: number_with_precision(stats.avg_age, precision: 1), icon: 'bi-person' }] %>

<div class="mb-3 canvas gray100-canvas embossed">
  <!--h3 class= "stats"><%="#{@summary_title}"%>
    <div class="sub-title"><%="#{@summary_sub_title}"%></div>
  </h3-->
  <div class="canvas gray100-canvas embossed m-1 p-3">
    <div class="row g-3 mb-0">
      <%= render partial: 'stat', collection: @stats %>
    </div>
  </div>
</div>