<%= form_with url: runs_path, method: :get do %>
  <div class="input-group input-group-sm mb-1"">
    <%= text_field_tag :time, params[:time], placeholder:"mm:ss or h:mm:ss", class: "" %>
    <%= button_tag type: "submit", class: "btn btn-primary btn-sm p-1" do %>
      <i class="bi bi-clock"></i>
    <% end %>
  </div>
<% end %>
